@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url ('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand');

body	{font-family: 'Quicksand', cursive; color: grey;}
h2 		{color:white; font-family: 'Source Code Pro', monospace; font-size:35px;	}
h3 		{color:rgb(38, 38, 38); font-family: 'Source Code Pro', monospace; font-size:25px;  font-weight: lighter;}
nav		{color:rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:25px;}
img 	{display: block; margin: auto; }
h5		{color:rgb(38, 38, 38); font-family: 'Source Code Pro', monospace; font-size:25px; background-color: rgb(223, 235, 247);  margin-bottom:-5px; font-weight: lighter;}

nav		{color:rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:25px;}
img 	{display: block; margin: auto; }

a {
	color: #111;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 98.75%;
}

.main {
    margin-top: 55px;
    padding-top: 0.01%;
}

div.fblogo img {
	position: fixed;
	Top: 10px;
	right: 103px;
 width: 3%;
	z-index: 120;
	
}
div.iglogo img {
	position: fixed;
	Top: 10px;
	right: 63px;
 width: 3%;
	opacity: 0.4%;
z-index: 120;
}


.container {
    position: relative;
    text-align: left;
    color: white;
	z-index: -1;
}

.header {
	height:270px;
	display: inline-block;
}

.header h2{
	opacity: (100%);
}

.text-block2 {
	margin-left: 16px;
	z-index: 2;
}

.tekst {
	left: 16px;
}

.text-block {
    margin-top: 64px;
    margin-left: 16px;
	background-color : #333;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 1px;
	height: 60px;
	box-shadow: 1px 1px grey;
	line-height: 0.1;
	z-index: 2;
	display: inline-block;
}


.HeaderBackground {
	background-size: cover;
	height: 100%;
	
}

div.priv {
	font-family: 'Poiret One', cursive; 
	font-size:15px;
	color: rgb(200, 200, 200); 
	text-align: left;
	position: absolute;
    bottom: 10px;
    right: 700;
    width: 300px;
}

/* Over het menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;

}

li {
    float: left;
}

li a, .dropdown, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #111;
}
li {    border-right: 1px solid #bbb;} li:last-child { border-right: none;}
 

/* Try It */


.opgavens {
	height: 100%;
	margin: 0px 0px 0px 16px;
	display:block;
	content:"";
	clear:both;
	text-align:center;	
}

.opgavens a {
	text-decoration: none;
}

.opgaven-block {
	width: 350px;
	height: 300px; 	
	margin: 32px 20px 10px 20px;
	padding: 0px;
	background-color: rgb(242,242,242);
	color: black;
	display: inline-block;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	text-align: left;

}

.opgaven-block img {
	height: 130px; 
	width: 100%; 
	object-fit: cover;
}

.Vragen {
	width: 1000px;
	Height: 100%;
	margin: 0 auto;
	margin-top: 32px;
	background-color: rgb(242,242,242);	
	color: black;
	font-size: 18px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.Vragen h2{
	margin: 0px;
	Margin-top: 16px;
	Margin-bottom: 16px;
	padding: 0px;
	color: Black;
	text-align: center;
}

.Vragen p {
	color: black;
	font-size: 18px;	
	margin: 0px;
	margin-left: 16px;
}


#voorbeeldopgave1 {
	margin-right: 16px;
	width:200px; 
	height: 150px; 
	float: right;
	z-index: -2;
}

