@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand');

body{ 
background-repeat: no-repeat; 
background-position: left top; 
background-size: 50px 10px, cover;
/*background-image: url(LINKSBG.gif); */


font-family: 'Poiret One', cursive; color: grey;}
/*h1	{color: rgb(38, 38, 38); font-family: 'Quicksand', sans-serif; font-size:55px; text-align: right; background-color:red;}*/
h2 		{color:white; font-family: 'Poiret One', cursive; font-size:35px;}
h3 		{color:rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:25px;}
h4      {color: rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:20px}
p 		{color: rgb(77, 0, 0); font-family: 'Poiret One', cursive; font-size:15px;}
nav		{color:rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:25px;}
img 	{display: block; margin: auto; }

a {
	color: #111;
}


.navbar {
    position: fixed;
    top: 0px;
    width: 98.75%;
}

.main {
    margin-top: 55px;
    padding-top: 0.01%;
}

div.fblogo img {
	position: absolute;
	Top: 120px;
	right: 103px;
    width: 3%;
	z-index: 1;
	
}
div.iglogo img {
	position: absolute;
	Top: 120px;
	right: 63px;
    width: 3%;
	opacity: 0.4%;
	z-index: 1;
	
}

.container {
    position: relative;
    text-align: left;
    color: white;
	z-index: -1;	
}

.header{filter: opacity(50%);}

.text-block2 {
    position: absolute;
    bottom: 1px;
    left: 16px;
}

.tekst {left: 16px;}

.text-block {
    position: absolute;
    bottom: 140px;
    left: 16px;
	background-color : #333;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 0.01%;
    height: 60px;
    box-shadow: 1px 1px grey;
    line-height: 0.1;
}


div.priv {
	font-family: 'Poiret One', cursive; 
	font-size:15px;
	color: rgb(200, 200, 200); 
	text-align: left;
    position: absolute;
    bottom: 10px;
    right: 700;
    width: 300px;

}

/* Over het menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropdown, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}

li {    border-right: 1px solid #bbb;} li:last-child { border-right: none;}

/* Statistieken */

/* Blokken*/
.statistiek-blok {
    width: 100%;
    height: 450px;
    margin-top: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.statistiek-blok1 {
    width: 100%;
    height: 500px;
    margin-top: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

/* Linkerblok in blok */
.specialisten {
    width: 450;
    height: 350;
    float: left;
    padding-left: 200px;
}

/* Rechterblok in blok*/
.specialisten-tekst {
    width: 330px;
	height: 200px;
    float: right;
	padding-top: 60px;
    padding-right: 200px;
}

.specialisten-tekst1 {
    width: 330px;
	height: 200px;
    float: right;
	padding-top: 20px;
    padding-right: 200px;
}

.specialisten-tekst2 {
    width: 330px;
	height: 200px;
    float: right;
	padding-top: 90px;
    padding-right: 200px;
}

/* highlighter */
span {
    background-color:#F3B187;
}