@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url ('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand');
@import url ('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body	{font-family: 'Quicksand', cursive; color: grey;}
h2 		{color:white; font-family: 'Source Code Pro', monospace; font-size:35px;	}
h3 		{color:rgb(38, 38, 38); font-family: 'Source Code Pro', monospace; font-size:25px;  font-weight: lighter;}
nav		{color:rgb(38, 38, 38); font-family: 'Poiret One', cursive; font-size:25px;}
img 	{display: block; margin: auto; }
h5		{color:rgb(38, 38, 38); font-family: 'Source Code Pro', monospace; font-size:25px; background-color: rgb(223, 235, 247);  margin-bottom:-5px; font-weight: lighter;}

div.GroepFoto img 
{
	width: 33%;
	float: right;
	margin-left: 1%;
}


div.tekstA 
{
	text-align: justify;
	margin-top: 3%;
	position: relative;
	width: 75%;
		left: 11%;
		color: black;
		z-index: 1;
}










/* algemeen*/
a {
	color: #111;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 98.75%;
}

.main {
    margin-top: 55px;
    padding-top: 0.01%;
}

div.fblogo img {
	position: fixed;
	Top: 10px;
	right: 103px;
 width: 3%;
	z-index: 120;
	
}
div.iglogo img {
	position: fixed;
	Top: 10px;
	right: 63px;
 width: 3%;
	opacity: 0.4%;
z-index: 120;
}


.container {
    position: relative;
    text-align: left;
    color: white;
	z-index: -1;
}

.header {
	height:270px;
	display: inline-block;
}

.header h2{
	opacity: (100%);
}

.text-block2 {
	margin-left: 16px;
	z-index: 2;
}



.text-block {
    margin-top: 64px;
    margin-left: 16px;
	background-color : #333;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 1px;
	height: 60px;
	box-shadow: 1px 1px grey;
	line-height: 0.1;
	z-index: 2;
	display: inline-block;
	
}


.HeaderBackground {
	background-size: cover;
	height: 100%;
	
}

div.priv {
	font-family: 'Poiret One', cursive; 
	font-size:15px;
	color: rgb(200, 200, 200); 
	text-align: left;
	position: absolute;
    bottom: 10px;
    right: 700;
    width: 300px;
}

/* Over het menu*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333;
	z-index: 100;

}

li {
    float: left;
}

li a, .dropdown, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #111;
}
li {    border-right: 1px solid #bbb;} li:last-child { border-right: none;}
 

